.chat {
  position: relative;
  height: 400px;
  width: 250px;
}
.chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #059ee0;
  height: 50px;
}
.chat__avatar {
  height: 25px !important;
  width: 25px !important;
}
.chat__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 8px;
}

.chat__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: white;
}
.chat__search > input::placeholder {
  color: white;
  opacity: 1;
}
.chat__posts {
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  background-color: white;
  height: 350px;
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: scroll;
}
.chat__posts::-webkit-scrollbar {
  display: none;
}

.chat__posts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__take {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: grey;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  font-size: 40px !important;
  transform: translate(-50%, -50%);
}
.chat__take :hover {
  opacity: 0.8;
}
